# Virtual Environment
.venv/
*/.venv/
**/.venv/

# Environment Variables
.env
*/.env
**/.env

# Node Modules
node_modules/
*/node_modules/
**/node_modules/

# PDFs
pdfs/
*/pdfs/
**/pdfs/

package.json
package-lock.json

pycache/
*/pycache/
**/pycache/
__pycache__/
*/__pycache__/
**/__pycache__/
pycache

.DS_Store

.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/ipynb_checkpoints/
