# Virtual Environment
.venv/
*/.venv/
**/.venv/

# Environment Variables
.env
*/.env
**/.env

# Node Modules
node_modules/
*/node_modules/
**/node_modules/

# PDFs
pdfs/
*/pdfs/
**/pdfs/

package.json
package-lock.json

pycache/
*/pycache/
**/pycache/

.DS_Store